# Does not come with compiled products.
/target

# EFI files
/esp

# Linux kernel files
vmlinuz*
initrd.img*
/initramfs

# This file is the rustsbi startup image of qemu and needs to be downloaded by the user.
rustsbi-qemu.bin

# GDB Files
.gdb_history
.gdbinit

.tasks