[workspace]
resolver = "2"
members = [
    "canicula-efi", "canicula-kernel",
]

[workspace.package]
version = "0.1.0"
edition = "2024"

[profile.release]
debug = true
panic = "abort"

[profile.dev]
debug = true
panic = "abort"
