[package]
name = "hello-wasm"
version = "0.1.0"
authors = ["hanbings <hanbings@hanbings.io>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]

[dependencies]

[dev-dependencies]

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
