[unstable]
build-std = ["core", "compiler_builtins", "alloc"]

[alias]
ext4-test = "test -Zbuild-std=std,core,alloc,compiler_builtins --target x86_64-unknown-linux-gnu --package canicula-ext4 --lib -- --nocapture"

[build]
target = [
    "x86_64-unknown-none",
    "aarch64-unknown-none",
    "riscv64gc-unknown-none-elf",
    "x86_64-unknown-linux-gnu",
]
